html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video, button {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }
  html:before, html:after, body:before, body:after, div:before, div:after, span:before, span:after, object:before, object:after, iframe:before, iframe:after,
  h1:before,
  h1:after, h2:before, h2:after, h3:before, h3:after, h4:before, h4:after, h5:before, h5:after, h6:before, h6:after, p:before, p:after, blockquote:before, blockquote:after, pre:before, pre:after,
  abbr:before,
  abbr:after, address:before, address:after, cite:before, cite:after, code:before, code:after,
  del:before,
  del:after, dfn:before, dfn:after, em:before, em:after, img:before, img:after, ins:before, ins:after, kbd:before, kbd:after, q:before, q:after, samp:before, samp:after,
  small:before,
  small:after, strong:before, strong:after, var:before, var:after,
  b:before,
  b:after, i:before, i:after,
  dl:before,
  dl:after, dt:before, dt:after, dd:before, dd:after, ol:before, ol:after, ul:before, ul:after, li:before, li:after,
  fieldset:before,
  fieldset:after, form:before, form:after, label:before, label:after, legend:before, legend:after,
  article:before,
  article:after, aside:before, aside:after, canvas:before, canvas:after, details:before, details:after, figcaption:before, figcaption:after, figure:before, figure:after,
  footer:before,
  footer:after, header:before, header:after, hgroup:before, hgroup:after, menu:before, menu:after, nav:before, nav:after, section:before, section:after, summary:before, summary:after,
  time:before,
  time:after, mark:before, mark:after, audio:before, audio:after, video:before, video:after, button:before, button:after {
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }

sub,
sup {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  background: transparent;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }
  sub:before, sub:after,
  sup:before,
  sup:after {
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }

a:before, a:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  background: transparent; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

ol, ul, li {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: none; }

q:before, q:after {
  content: none; }

:focus {
  outline: 0; }

input[type="text"], textarea {
  -webkit-appearance: none; }
  input[type="text"]::-ms-clear, textarea::-ms-clear {
    display: none; }

input,
textarea {
  -webkit-border-radius: 0;
          border-radius: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }
  input::-webkit-input-placeholder,
  textarea::-webkit-input-placeholder {
    color: #000; }
  input::-moz-placeholder,
  textarea::-moz-placeholder {
    color: #000; }
  input:-ms-input-placeholder,
  textarea:-ms-input-placeholder {
    color: #000; }
  input:focus::-webkit-input-placeholder,
  textarea:focus::-webkit-input-placeholder {
    color: transparent; }
  input:focus::-moz-placeholder,
  textarea:focus::-moz-placeholder {
    color: transparent; }
  input:focus:-ms-input-placeholder,
  textarea:focus:-ms-input-placeholder {
    color: transparent; }

textarea {
  resize: none; }

ins {
  text-decoration: none; }

del {
  text-decoration: line-through; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  word-wrap: break-word; }

ul {
  padding: 0;
  list-style-type: none; }

img {
  max-width: 100%;
  display: inline-block;
  height: auto;
  vertical-align: top; }

body {
  font-size: 16px;
  font-family: "OpenSans", Arial, sans-serif;
  font-weight: 400;
  color: black;
  line-height: 1.41; }

p {
  font-size: 1rem; }

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0; }
  .slick-list:focus {
    outline: none; }
  .slick-list.dragging {
    cursor: pointer;
    cursor: hand; }

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto; }
  .slick-track:before, .slick-track:after {
    content: "";
    display: table; }
  .slick-track:after {
    clear: both; }
  .slick-loading .slick-track {
    visibility: hidden; }

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none; }
  [dir="rtl"] .slick-slide {
    float: right; }
  .slick-slide img {
    display: block; }
  .slick-slide.slick-loading img {
    display: none; }
  .slick-slide.dragging img {
    pointer-events: none; }
  .slick-initialized .slick-slide {
    display: block; }
  .slick-loading .slick-slide {
    visibility: hidden; }
  .slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent; }

.slick-arrow.slick-hidden {
  display: none; }

/* Slider */
.slick-loading .slick-list {
  background: #fff url("../img/ajax-loader.gif") center center no-repeat; }

/* Icons */
@font-face {
  font-family: "slick";
  src: url("../fonts/slick.eot");
  src: url("../fonts/slick.eot?#iefix") format("embedded-opentype"), url("../fonts/slick.woff") format("woff"), url("../fonts/slick.ttf") format("truetype"), url("../fonts/slick.svg#slick") format("svg");
  font-weight: normal;
  font-style: normal; }

/* Dots */
.slick-dots {
  left: 0;
  position: absolute;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%; }
  .slick-dots li {
    position: relative;
    display: inline-block;
    height: 1.4375rem;
    width: 1.4375rem;
    margin: 0 0.78125rem;
    padding: 0;
    cursor: pointer; }
    .slick-dots li button {
      border: none;
      background: transparent;
      display: block;
      height: 1.4375rem;
      overflow: hidden;
      width: 1.4375rem;
      outline: none;
      position: relative;
      -webkit-border-radius: 50%;
              border-radius: 50%;
      line-height: 0rem;
      font-size: 0rem;
      color: transparent;
      cursor: pointer; }
      .slick-dots li button:hover, .slick-dots li button:focus {
        outline: none; }
        .slick-dots li button:hover:before, .slick-dots li button:focus:before {
          background: white; }
      .slick-dots li button:before {
        position: absolute;
        top: 0;
        left: 0;
        content: '';
        width: 100%;
        height: 100%;
        -webkit-border-radius: 50%;
                border-radius: 50%;
        background-color: #a6a6a6; }
    .slick-dots li.slick-active button:before {
      background-color: #fff; }

@font-face {
  font-family: "OpenSans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/OpenSans/open-sans-v15-cyrillic_latin-regular.eot?") format("eot"), url("../fonts/OpenSans/open-sans-v15-cyrillic_latin-regular.woff2") format("woff2"), url("../fonts/OpenSans/open-sans-v15-cyrillic_latin-regular.woff") format("woff"), url("../fonts/OpenSans/open-sans-v15-cyrillic_latin-regular.ttf") format("truetype"), url("../fonts/OpenSans/open-sans-v15-cyrillic_latin-regular.svg#OpenSans") format("svg"); }

@font-face {
  font-family: "OpenSans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/OpenSans/open-sans-v15-cyrillic_latin-700.eot?") format("eot"), url("../fonts/OpenSans/open-sans-v15-cyrillic_latin-700.woff2") format("woff2"), url("../fonts/OpenSans/open-sans-v15-cyrillic_latin-700.woff") format("woff"), url("../fonts/OpenSans/open-sans-v15-cyrillic_latin-700.ttf") format("truetype"), url("../fonts/OpenSans/open-sans-v15-cyrillic_latin-700.svg#OpenSans") format("svg"); }

@font-face {
  font-family: "OpenSans";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/OpenSans/open-sans-v15-cyrillic_latin-800.eot?") format("eot"), url("../fonts/OpenSans/open-sans-v15-cyrillic_latin-800.woff2") format("woff2"), url("../fonts/OpenSans/open-sans-v15-cyrillic_latin-800.woff") format("woff"), url("../fonts/OpenSans/open-sans-v15-cyrillic_latin-800.ttf") format("truetype"), url("../fonts/OpenSans/open-sans-v15-cyrillic_latin-800.svg#OpenSans") format("svg"); }

body.black {
  color: #fff;
  background: #000; }
  body.black p {
    font-size: 1.125rem;
    margin-bottom: 0.1875rem; }
  body.black a {
    color: white;
    text-decoration: none; }
    body.black a:focus, body.black a:hover {
      color: white;
      text-decoration: underline; }
  body.black .content.text {
    padding-bottom: 3.125rem; }

.content {
  position: relative; }

.container {
  padding: 0 0.9375rem;
  max-width: 73.125rem;
  margin: 0 auto;
  width: 100%; }

.slider {
  min-width: 100%;
  width: 0;
  max-height: 100%; }
  .slider-slide {
    vertical-align: top; }
    .slider-slide img {
      margin: 0 auto; }
  .slider .slick-arrow {
    position: absolute;
    top: 50%;
    cursor: pointer;
    z-index: 3;
    width: 2.5rem;
    font-size: 0;
    height: 2.5rem;
    background-image: url("../img/icons/arrow-white.svg");
    background-position: 50% 50%;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
            background-size: cover; }
    .slider .slick-arrow.slick-prev {
      left: 6.875rem;
      -webkit-transform: translateY(-50%) rotate(90deg);
          -ms-transform: translateY(-50%) rotate(90deg);
              transform: translateY(-50%) rotate(90deg); }
    .slider .slick-arrow.slick-next {
      right: 6.875rem;
      -webkit-transform: translateY(-50%) rotate(-90deg);
          -ms-transform: translateY(-50%) rotate(-90deg);
              transform: translateY(-50%) rotate(-90deg); }

.section {
  background-color: #ededed;
  padding: 7.1875rem 0 5.3125rem;
  text-align: center; }
  .section-title {
    font-size: 2.8125rem;
    font-weight: 700; }
  .section-subtitle {
    font-weight: 700;
    font-size: 1.5625rem; }

button.button,
input[type="submit"].button {
  display: block;
  margin: 0 auto;
  font-weight: 700;
  letter-spacing: 0.09375rem;
  color: white;
  font-size: 1.3125rem;
  max-width: 17.1875rem;
  width: 100%;
  line-height: 3.25rem;
  height: 3.25rem;
  text-transform: uppercase;
  -webkit-border-radius: 0.5625rem;
          border-radius: 0.5625rem;
  background-color: #21A652;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: none;
  cursor: pointer;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none; }
  button.button:hover, button.button:focus, button.button:active,
  input[type="submit"].button:hover,
  input[type="submit"].button:focus,
  input[type="submit"].button:active {
    background-color: #319966; }

.header {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
  width: 100%;
  -webkit-transition: .3s background-color ease-in-out;
  -o-transition: .3s background-color ease-in-out;
  transition: .3s background-color ease-in-out; }
  .header.js-active {
    background-color: #000; }
  .header-content {
    padding: 3.125rem 5.625rem 3.125rem 3.75rem;
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    max-width: 120rem;
    margin: 0 auto; }
  .header-logo {
    display: inline-block;
    max-width: 11.25rem; }
  .header-right {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
  .header .button {
    margin: 0;
    min-width: 17.1875rem; }
  .header-languages {
    width: 100%;
    margin-top: 0.625rem;
    text-align: right;
    display: none; }
    .header-languages li {
      display: inline-block;
      margin-right: 1.5625rem;
      max-width: 4.0625rem;
      width: 100%; }
      .header-languages li a {
        display: block; }
    .header-languages li + li {
      margin-right: 0; }
  .header-hamburger {
    display: none;
    width: 2.5rem;
    height: 2.0625rem;
    padding: 0.1875rem;
    -webkit-border-radius: 0.5625rem;
            border-radius: 0.5625rem;
    border: 2px solid #fff;
    position: relative;
    -webkit-transition: .3s border-color ease-in-out, .3s background-color ease-in-out;
    -o-transition: .3s border-color ease-in-out, .3s background-color ease-in-out;
    transition: .3s border-color ease-in-out, .3s background-color ease-in-out; }
    .header-hamburger:hover, .header-hamburger:focus, .header-hamburger.js-active {
      border-color: #000;
      background-color: #000; }
    .header-hamburger span {
      display: block;
      left: 50%;
      position: absolute;
      width: -webkit-calc(100% - 6px);
      width: calc(100% - 6px);
      height: 2px;
      background: #fff;
      -webkit-transform: translate(-50%, 0);
          -ms-transform: translate(-50%, 0);
              transform: translate(-50%, 0);
      -webkit-transition: .3s opacity ease-in-out, .1s top ease-in, .3s transform ease-in-out;
      -o-transition: .3s opacity ease-in-out, .1s top ease-in, .3s transform ease-in-out;
      transition: .3s opacity ease-in-out, .1s top ease-in, .3s transform ease-in-out; }
      .header-hamburger span:nth-of-type(1) {
        top: 6px; }
      .header-hamburger span:nth-of-type(2) {
        top: 50%;
        -webkit-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%); }
      .header-hamburger span:nth-of-type(3) {
        top: -webkit-calc(100% - 6px);
        top: calc(100% - 6px);
        -webkit-transform: translate(-50%, -100%);
            -ms-transform: translate(-50%, -100%);
                transform: translate(-50%, -100%); }
    .header-hamburger.js-active span:nth-of-type(1) {
      top: 50%;
      -webkit-transform: translate(-50%, -50%) rotate(45deg);
          -ms-transform: translate(-50%, -50%) rotate(45deg);
              transform: translate(-50%, -50%) rotate(45deg); }
    .header-hamburger.js-active span:nth-of-type(2) {
      opacity: 0; }
    .header-hamburger.js-active span:nth-of-type(3) {
      top: 50%;
      -webkit-transform: translate(-50%, -50%) rotate(-45deg);
          -ms-transform: translate(-50%, -50%) rotate(-45deg);
              transform: translate(-50%, -50%) rotate(-45deg); }

.first {
  position: relative; }
  .first .slick-dots {
    bottom: 6.75rem; }
  .first .slider-slide {
    position: relative;
    height: 100vh;
    overflow: hidden; }
    .first .slider-slide img {
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%); }

.second .section-title {
  margin-bottom: 1.875rem; }

.second .section-subtitle {
  margin-bottom: 3.75rem; }
  .second .section-subtitle br {
    display: none; }

.second .button {
  margin-top: 3.4375rem; }

.steps {
  text-align: center;
  background: #fff;
  padding: 0 0.9375rem 0;
  position: relative;
  height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  .steps .slider {
    min-width: 100%;
    width: 0; }
    .steps .slider .slider-slide h4 {
      font-size: 1.5625rem;
      font-weight: 700;
      margin-bottom: 1.5625rem; }
    .steps .slider .slider-slide h3 {
      font-size: 2.8125rem;
      font-weight: 700;
      margin-bottom: 3.125rem; }
    .steps .slider .slider-slide p {
      font-size: 1.125rem; }
    .steps .slider .slider-slide a,
    .steps .slider .slider-slide a:focus,
    .steps .slider .slider-slide a:hover,
    .steps .slider .slider-slide a:active {
      color: #000;
      text-decoration: underline; }
    .steps .slider .slick-dots {
      bottom: -8.125rem; }
      .steps .slider .slick-dots li button:hover:before, .steps .slider .slick-dots li button:focus:before {
        background: #7d7d7d; }
      .steps .slider .slick-dots li button:before {
        background: #e2e2e2; }
      .steps .slider .slick-dots li.slick-active button:before {
        background: #7d7d7d; }
    .steps .slider .slick-arrow {
      background-image: url("../img/icons/arrow.svg"); }

.contact .section-title {
  margin-bottom: 3.4375rem; }

.contact .section-subtitle {
  margin-bottom: 4.6875rem; }

.contact .section-text {
  font-size: 1.125rem; }

.contact form {
  padding: 6.25rem 0; }
  .contact form span.wpcf7-not-valid-tip {
    position: absolute;
    left: 0;
    bottom: 1.25rem; }
  .contact form div.wpcf7-validation-errors,
  .contact form div.wpcf7-acceptance-missing {
    border: none;
    color: #f00; }
  .contact form div.wpcf7-mail-sent-ok {
    border: none; }
  .contact form span.wpcf7-form-control-wrap {
    display: inline-block;
    position: relative; }
  .contact form p {
    max-width: 25rem;
    width: 100%;
    margin: 0 auto; }
    .contact form p label {
      display: inline-block;
      margin: 5rem 0 6.25rem;
      cursor: pointer;
      font-weight: 700;
      font-size: 1.375rem; }
    .contact form p input[type="checkbox"] + span {
      display: inline-block;
      line-height: 1.875rem;
      vertical-align: middle;
      position: relative;
      padding-left: 1.875rem; }
      .contact form p input[type="checkbox"] + span::before {
        content: '';
        position: absolute;
        left: 0;
        top: 50%;
        display: inline-block;
        -webkit-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
                transform: translateY(-50%);
        width: 1.25rem;
        height: 1.25rem;
        background-color: #fff; }
      .contact form p input[type="checkbox"] + span:hover::before {
        background-color: #e7e7e7; }
    .contact form p input[type="checkbox"]:checked + span::before {
      background: url("../img/icons/checkmark.png") no-repeat center;
      background-color: #fff;
      -webkit-background-size: cover;
              background-size: cover; }
  .contact form span.first {
    height: auto; }
  .contact form p.section-text {
    max-width: 100%; }
    .contact form p.section-text:first-of-type {
      margin-top: 8.125rem; }
  .contact form input[type="checkbox"] {
    position: absolute;
    left: -62499.9375rem;
    opacity: 0; }
  .contact form input[type="text"],
  .contact form input[type="email"] {
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    -webkit-border-radius: 0.1875rem;
            border-radius: 0.1875rem;
    line-height: 4.6875rem;
    height: 4.6875rem;
    display: block;
    width: 100%;
    color: #000;
    margin-bottom: 2.5rem;
    font-weight: 700;
    padding: 0.625rem 0.9375rem;
    -webkit-box-shadow: none;
            box-shadow: none;
    border: none;
    font-size: 1.375rem; }
    .contact form input[type="text"]::-webkit-input-placeholder,
    .contact form input[type="email"]::-webkit-input-placeholder {
      font-weight: 700;
      text-align: center;
      color: #000;
      font-weight: 700; }
    .contact form input[type="text"]::-moz-placeholder,
    .contact form input[type="email"]::-moz-placeholder {
      font-weight: 700;
      text-align: center;
      color: #000;
      font-weight: 700; }
    .contact form input[type="text"]:-ms-input-placeholder,
    .contact form input[type="email"]:-ms-input-placeholder {
      font-weight: 700;
      text-align: center;
      color: #000;
      font-weight: 700; }
    .contact form input[type="text"]::-ms-input-placeholder,
    .contact form input[type="email"]::-ms-input-placeholder {
      font-weight: 700;
      text-align: center;
      color: #000;
      font-weight: 700; }
    .contact form input[type="text"]::placeholder,
    .contact form input[type="email"]::placeholder {
      font-weight: 700;
      text-align: center;
      color: #000;
      font-weight: 700; }
    .contact form input[type="text"]:focus,
    .contact form input[type="email"]:focus {
      outline: none;
      -webkit-box-shadow: 0 0 2px 1px #000000 inset;
              box-shadow: 0 0 2px 1px #000000 inset; }

.info {
  padding: 4.0625rem 0;
  background-color: #000;
  color: #fff; }
  .info-logo {
    max-width: 3.875rem;
    width: 100%;
    display: inline-block;
    margin-bottom: 2.5rem; }
  .info-block {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
  .info-item {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 0;
        -ms-flex: 1 1 0px;
            flex: 1 1 0;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
    .info-item span {
      width: 50%;
      display: inline-block;
      font-size: 0.875rem;
      padding: 0.5625rem; }
      .info-item span:nth-child(odd) {
        font-weight: 700;
        text-align: right; }
      .info-item span:nth-child(even) {
        text-align: left; }
  .info .section-title {
    margin-bottom: 5.3125rem; }

.footer {
  text-align: center;
  padding: 2.8125rem 0;
  background: #000;
  color: #fff; }
  .footer-nav {
    margin-bottom: 1.5625rem; }
    .footer-nav ul {
      text-align: center; }
      .footer-nav ul li {
        display: inline-block;
        margin: 0 2.1875rem; }
        .footer-nav ul li a {
          font-size: 0.625rem;
          text-decoration: underline;
          color: #fff;
          font-weight: 700; }
          .footer-nav ul li a:focus, .footer-nav ul li a:hover {
            color: #fff; }
  .footer-copyright {
    font-size: 0.625rem; }

.block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: row-reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  position: relative;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  padding: 3.125rem 0; }
  .block .logo {
    max-width: 20.625rem; }
  .block h1 {
    font-size: 2.8125rem;
    margin-bottom: 3.125rem; }
  .block .back-to-main {
    position: absolute;
    left: 0;
    top: 3.125rem;
    height: 2.625rem;
    width: 2.625rem;
    -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
            transform: rotate(90deg); }

@media only screen and (min-width: 1400px) and (min-height: 900px) {
  .first .slider-slide {
    max-height: 56.25rem; } }

@media only screen and (min-width: 1600px) and (min-height: 900px) {
  .first .slider-slide {
    max-height: 100vh; } }

@media only screen and (min-width: 1920px) {
  .slider-slide img {
    width: 100%; } }

@media only screen and (max-width: 1400px) {
  .first .slider-slide {
    height: auto; }
    .first .slider-slide img {
      position: static;
      -webkit-transform: none;
          -ms-transform: none;
              transform: none; } }

@media only screen and (max-width: 992px) {
  .section {
    padding: 3.125rem 0; }
    .section-title {
      font-size: 2.125rem; }
    .section-subtitle {
      font-size: 1.375rem; }
  .slider .slick-arrow.slick-prev {
    left: 0.9375rem; }
  .slider .slick-arrow.slick-next {
    right: 0.9375rem; }
  .header-content {
    padding: 1.25rem; }
  .first .slick-dots {
    bottom: 1.25rem; }
  .steps {
    padding: 4.375rem 0; }
    .steps .slider .slick-dots {
      bottom: -3.125rem; }
  .info-item span {
    padding: 0.4375rem; }
  .contact form {
    padding: 3.125rem 0; }
    .contact form input[type="text"],
    .contact form input[type="email"] {
      line-height: 3.125rem;
      height: 3.125rem;
      margin-bottom: 1.875rem;
      font-size: 1.375rem; }
      .contact form input[type="text"]::-webkit-input-placeholder,
      .contact form input[type="email"]::-webkit-input-placeholder {
        font-size: 1.375rem; }
      .contact form input[type="text"]::-moz-placeholder,
      .contact form input[type="email"]::-moz-placeholder {
        font-size: 1.375rem; }
      .contact form input[type="text"]:-ms-input-placeholder,
      .contact form input[type="email"]:-ms-input-placeholder {
        font-size: 1.375rem; }
      .contact form input[type="text"]::-ms-input-placeholder,
      .contact form input[type="email"]::-ms-input-placeholder {
        font-size: 1.375rem; }
      .contact form input[type="text"]::placeholder,
      .contact form input[type="email"]::placeholder {
        font-size: 1.375rem; }
    .contact form p.section-text:first-of-type {
      margin-top: 2.5rem; }
    .contact form span.wpcf7-not-valid-tip {
      bottom: 0.3125rem; }
    .contact form p label {
      margin: 2.5rem 0; }
  .block {
    padding: 2.1875rem 0; }
    .block h1 {
      margin-bottom: 2.1875rem;
      font-size: 2.125rem; } }

@media only screen and (max-width: 767px) {
  .header {
    overflow: hidden;
    position: static;
    background: #000;
    z-index: 4;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0.625rem; }
    .header-logo {
      max-width: 6.25rem; }
    .header-content {
      padding: 0; }
    .header-languages {
      display: none; }
    .header .button {
      min-width: 0;
      font-size: 0.875rem;
      display: inline-block;
      padding: 0 0.4375rem;
      height: 1.875rem;
      line-height: 1.875rem; }
    .header-right {
      margin: 0;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center; }
  p {
    font-size: 0.875rem; }
  .section {
    padding: 2.5rem 0; }
    .section-title {
      font-size: 1.375rem; }
    .section-subtitle {
      font-size: 1.125rem; }
    .section-text {
      font-size: 0.875rem;
      margin-bottom: 0.5rem; }
  .info-block {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
  .info-item {
    width: 100%;
    -webkit-box-flex: 1;
    -webkit-flex: auto;
        -ms-flex: auto;
            flex: auto; }
  button.button,
  input[type="button"] {
    font-size: 1.125rem;
    height: 2.5rem;
    line-height: 2.5rem; }
  .second .section-title {
    margin-bottom: 1.25rem; }
  .second .section-subtitle {
    margin-bottom: 1.875rem; }
    .second .section-subtitle br {
      display: block; }
  .second .section-button {
    margin-top: 1.5625rem; }
  .info {
    padding: 1.5625rem 0; }
    .info .section-title {
      margin-bottom: 1.5625rem; }
    .info-logo {
      margin-bottom: 0.9375rem; }
  .contact .section-title {
    margin-bottom: 1.5625rem; }
  .contact .section-subtitle {
    margin-bottom: 1.875rem; }
  .contact p {
    margin-bottom: 0.5rem; }
  .contact p.section-text {
    margin: 0.625rem 0; }
  .contact form {
    padding: 2.1875rem 0; }
    .contact form p label {
      margin: 1.25rem 0; }
  .footer {
    padding: 1.5625rem 0; }
  .steps {
    height: auto; }
  .block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start; }
    .block .back-to-main {
      position: static; }
    .block h1 {
      margin-top: 1.875rem;
      font-size: 1.375rem; } }

@media only screen and (max-width: 576px) {
  .slider .slick-arrow {
    width: 1.25rem;
    height: 1.25rem; }
    .slider .slick-arrow.slick-prev {
      left: 0.9375rem; }
    .slider .slick-arrow.slick-next {
      right: 0.9375rem; }
  .steps {
    padding: 2.5rem 0; }
    .steps .slider .slider-slide {
      padding: 0; }
      .steps .slider .slider-slide h4 {
        font-size: 1.125rem;
        margin: 0.625rem; }
      .steps .slider .slider-slide h3 {
        font-size: 1.375rem;
        margin: 0.9375rem; }
      .steps .slider .slider-slide p {
        font-size: 0.75rem; } }
